body {
    font-family: Arial, sans-serif;
    text-align:center;
    background-color:#FFC07F;
    margin:0;
    padding:0;
}
h1{
    margin:20px 0;
    color:#A5402D;

}
p{
    margin:10px 0;
    color:#721121;
}
#mybutton{
    background-color: #3498db;
    color: #fff;
    
}